<app-modal-generico [modelo]="modalGenerico">
    <main class="ml-5 mr-5 mb-4">
      
      <form [formGroup]="formAsignature" (ngSubmit)="onSave()">
        <div class="text-input mb-5">      
          <input type="text" id="title" formControlName="title">
            <span class="highlight"></span>
            <span class="bar"></span>
          <label>Título</label>
        </div>
        <div class="text-input mb-5">      
          <input type="text" id="career" formControlName="career">
            <span class="highlight"></span>
            <span class="bar"></span>
          <label>Carrera</label>
        </div>
        <div class="text-input mb-5">      
          <input type="number" id="group" formControlName="group">
            <span class="highlight"></span>
            <span class="bar"></span>
          <label>Grupo</label>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center ml-auto mr-auto col-4">
          <button class="btn btn-violet-primary" type="submit" [disabled]="!formAsignature.valid">Aceptar</button>
          <button class="btn btn-violet-secondary" (click)="confirm()">Cancelar</button>
        </div>
      </form>  
    </main>
  </app-modal-generico>
