<app-modal-generico [modelo]="modalGenerico">
  <main class="ml-5 mr-5 mb-4">
    <div class="text-input mb-5">      
      <input type="text" id="titulo" name="titulo" required>
        <span class="highlight"></span>
        <span class="bar"></span>
      <label>Título</label>
    </div>
    <div class="text-input mb-5">      
      <input type="text" id="descripcion" name="descripcion" required>
        <span class="highlight"></span>
        <span class="bar"></span>
      <label>Descripción</label>
    </div>
  </main>
</app-modal-generico>