<div class="d-flex justify-content-center align-items-center h-100 w-100 container-fluid">
    <div class="hex-container container d-flex flex-wrap">
        <div *ngFor="let module of modules; index as i" class="hex hex-big-item position-relative">
            <div class="hex hex-big-item d-flex">
                <div class="item-content d-flex flex-column">
                    <h3> Módulo {{i+1}}</h3>
                    <h6>{{module.name}}</h6>
                    <span>{{module.totalStudentsFinished}}/{{totalStudents}} estudiantes culminaron el módulo</span>
                </div>
                <div class="hex ml-auto" [ngStyle]="{'background': 'rgba(153,63,203,'+ (module.totalStudentsFinished/totalStudents) +')', 'color': (module.totalStudentsFinished/totalStudents >0.3)? 'white':'var(--color-ppal)'}">
                    {{module.totalStudentsFinished/totalStudents * 100}}%
                </div>
            </div>
            <div class="icon-options position-absolute"></div>
        </div>
        <div class="hex hex-big-item hex-big-add" (click)="onOpenModal()" >
            <span>+</span>
        </div>
    </div>
</div>