
<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="hex-container d-flex flex-wrap">
        <div class="hex hex-big-item position-relative">
            <div class="hex hex-big-item d-flex">
                <div class="item-content d-flex flex-column">
                    <h3>Materia</h3>
                    <h6>Profesión</h6>
                    <span>Total estudiantes</span>
                </div>
                <div class="hex ml-auto">
                    Info
                </div>
            </div>
            <div class="icon-options position-absolute"></div>
        </div>
        <div class="hex hex-big-item">
            <div class="hex hex-big-item d-flex">
                <div class="item-content d-flex flex-column">
                    <h3>Materia</h3>
                    <h6>Profesión</h6>
                    <span>Total estudiantes</span>
                </div>
                <div class="hex ml-auto">
                    Info
                </div>
            </div>
        </div>
        <div class="hex hex-big-item">
            <div class="hex hex-big-item d-flex">
                <div class="item-content d-flex flex-column">
                    <h3>Materia</h3>
                    <h6>Profesión</h6>
                    <span>Total estudiantes</span>
                </div>
                <div class="hex ml-auto">
                    Info
                </div>
            </div>
        </div>
        <div class="hex hex-big-item">
            <div class="hex hex-big-item d-flex">
                <div class="item-content d-flex flex-column">
                    <h3>Materia</h3>
                    <h6>Profesión</h6>
                    <span>Total estudiantes</span>
                </div>
                <div class="hex ml-auto">
                    Info
                </div>
            </div>
        </div>
        <div class="hex hex-big-item hex-big-add">
          <span>+</span>
        </div>
    </div>
</div>
